*

!.gitignore
!.gitattributes
!*.py
!*.yml
!*.yaml
!*.json
!*.md
!README
!readme
!LICENSE
!requirements.txt
!.gitkeep

!configs/
!demo_utils/
!images/
!model/
!pipeline/
!prompts/
!prompts/**/
!prompts/*.txt
!prompts/**/*.txt
!scripts/
!templates/
!templates/*.html
!trainer/
!utils/
!videos/
!wan/
!wan/**/
